# Student Success @UÉvora

Este trabalho consiste na implemenção de diferentes algoritmos em Python para gerar diferentes modelos de AA, tendo estes modelos comportamentes diferentes face a um determinado conjunto de teste.

Conjunto de dados de treino que o algoritmo utiliza para criar o modelo:

In [1]:
import pandas as pd
datrain = pd.read_csv('train.csv')
datrain.head(20)

,Id,Program,Y0s1_enrol,Y0s2_enrol,Y1s1_enrol,Y1s1_complete,Y1s1_grade,Y1s2_enrol,Y1s2_complete,Y1s2_grade,...,Y4s1_enrol,Y4s1_complete,Y4s1_grade,Y4s2_enrol,Y4s2_complete,Y4s2_grade,Rest_enrol,Rest_complete,Rest_grade,Failure
0,131386709,Management,46.0,30.0,36.5,36.5,11.452,36.0,36.0,13.236,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
1,111354305,Nursing,30.0,24.0,30.0,30.0,14.933,30.0,30.0,17.333,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
2,111345828,Nursing,30.0,40.0,26.0,26.0,17.000,20.0,10.0,16.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
3,131393682,Biology,0.0,6.0,20.0,14.0,12.286,12.0,0.0,0.000,...,28.0,28.0,11.750,42.0,36.0,11.833,0.0,0.0,0.000,0
4,131383677,Informatics,41.0,36.0,36.0,19.0,14.053,48.0,30.0,12.400,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
5,131390060,Nursing,30.0,42.0,30.0,20.0,13.000,30.0,30.0,12.133,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,1
6,131389177,Informatics,5.0,5.0,41.0,0.0,0.000,22.0,12.0,14.000,...,32.0,6.0,16.000,36.0,6.0,14.000,131.0,41.0,17.122,0
7,111335866,Nursing,0.0,10.0,30.0,30.0,16.500,30.0,30.0,16.500,...,30.0,30.0,14.567,30.0,30.0,15.533,0.0,0.0,0.000,0
8,131391546,Biology,34.0,32.0,35.0,29.0,12.621,34.0,28.0,14.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
9,131395471,Informatics,36.0,54.0,30.0,0.0,0.000,42.0,6.0,11.000,...,29.0,5.0,10.000,42.0,0.0,0.000,409.0,43.0,10.814,1
10,131390235,Management,12.0,19.0,41.5,29.5,11.203,36.0,17.0,10.941,...,30.0,7.5,10.800,30.0,11.5,13.913,0.0,0.0,0.000,0
11,111364543,Nursing,30.0,24.0,30.0,30.0,13.667,30.0,30.0,14.667,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
12,111345846,Nursing,30.0,30.0,26.0,26.0,15.154,20.0,20.0,17.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
13,131384749,Nursing,27.0,23.0,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,1
14,131388203,Nursing,0.0,12.0,30.0,30.0,17.500,48.0,30.0,16.100,...,30.0,30.0,12.967,30.0,21.0,14.000,0.0,0.0,0.000,0
15,111345842,Nursing,30.0,30.0,20.0,20.0,16.000,26.0,26.0,12.962,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
16,131383351,Biology,30.0,30.0,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,1
17,131393018,Management,16.0,29.5,34.0,18.0,10.667,43.0,18.0,11.722,...,34.0,6.0,10.000,52.5,22.5,10.000,120.5,22.0,11.273,0
18,131382124,Nursing,25.0,10.0,30.0,20.0,12.050,30.0,20.0,13.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0
19,131393932,Management,0.0,26.0,0.0,0.0,0.000,0.0,0.0,0.000,...,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,1

## Preparação dos dados utilizados pelos Algoritmos:

In [ ]:
del datrain['Program']
del datrain['Id']
#Estas duas linhas têm como objetivo retirar do dataframe as colunas "Id" e "Program" visto que não achamos relevantes para a criação do modelo.
#Ou seja os algoritmos utilizam os restantes atributos na criação dos modelos.

x_train = datrain.drop('Failure', axis=1).values
y_train = datrain['Failure'].values
#Estas duas linhas preparam o x_train e o y_train para serem utilizados pelo algoritmo.

## Algoritmo Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', max_iter=500)
model.fit(x_train, y_train)

Kaggle Scores<br>
Private Score: 0.90034<br>
Public Score: 0.95172<br>
Com remoção de atributos:<br>
Private Score: 0.90034<br>
Public Score: 0.94444<br>

## Algoritmo Ridge

In [ ]:
from sklearn.linear_model import RidgeClassifier

model = RidgeClassifier()
model.fit(x_train,y_train)

Kaggle Scores<br>
Private Score: 0.88888<br>
Public Score: 0.95104<br>
Com remoção de atributos:<br>
Private Score: 0.88888<br>
Public Score: 0.95104<br>

## Algoritmo K nearest-neighbours

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

model = RidgeClassifier()
model.fit(x_train,y_train)

Kaggle Scores<br>
Private Score: 0.88581<br>
Public Score: 0.94366<br>
Com remoção de atributos:<br>
Private Score: 0.90034<br>
Public Score: 0.92307<br>

## Comportamento de cada modelo face ao determinado conjunto de dados:

In [2]:
import pandas as pd
datest = pd.read_csv('test.csv')
datest.head(20)

,Id,Program,Y0s1_enrol,Y0s2_enrol,Y1s1_enrol,Y1s1_complete,Y1s1_grade,Y1s2_enrol,Y1s2_complete,Y1s2_grade,...,Y3s2_grade,Y4s1_enrol,Y4s1_complete,Y4s1_grade,Y4s2_enrol,Y4s2_complete,Y4s2_grade,Rest_enrol,Rest_complete,Rest_grade
0,131394910,Management,39.0,29.5,27.0,6.0,10.000,42.0,0.0,0.000,...,0.000,41.5,0.0,0.000,29.0,10.0,10.800,143.0,0.0,0.0
1,131391329,Biology,23.0,24.0,32.0,28.0,13.143,40.0,30.0,14.000,...,12.500,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
2,111345779,Nursing,30.0,30.0,26.0,26.0,15.192,30.0,30.0,16.000,...,13.067,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
3,131382288,Management,30.0,30.0,30.0,30.0,14.900,30.0,30.0,15.200,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
4,131379697,Nursing,30.0,30.0,30.0,30.0,14.567,30.0,30.0,15.667,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
5,131398732,Management,33.0,36.0,27.0,0.0,0.000,30.0,6.0,12.000,...,0.000,29.0,0.0,0.000,34.5,0.0,0.000,130.0,0.0,0.0
6,131388650,Informatics,36.0,24.0,30.0,30.0,15.467,30.0,30.0,15.000,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
7,131387163,Informatics,28.0,0.0,15.0,9.0,10.333,36.0,0.0,0.000,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
8,131385729,Nursing,9.0,10.0,34.0,31.0,14.226,30.0,20.0,16.500,...,13.037,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
9,131383362,Nursing,27.0,42.0,42.0,0.0,0.000,27.0,0.0,0.000,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
10,131382373,Nursing,40.0,30.0,30.0,20.0,15.000,30.0,30.0,14.667,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
11,131388818,Management,30.0,30.0,30.0,30.0,14.100,30.0,30.0,14.667,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
12,131386928,Biology,30.0,30.0,30.0,30.0,13.900,30.0,30.0,15.400,...,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
13,131397149,Informatics,30.0,42.0,47.0,32.0,12.375,23.0,23.0,12.565,...,0.000,40.0,0.0,0.000,53.0,10.0,14.000,0.0,0.0,0.0
14,131391208,Management,10.0,27.0,28.0,18.0,11.667,24.0,11.0,12.091,...,12.231,30.0,13.5,11.556,30.0,24.0,13.208,0.0,0.0,0.0
15,111364511,Nursing,24.0,30.0,30.0,30.0,14.733,30.0,30.0,16.333,...,13.533,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
16,131384400,Nursing,30.0,30.0,30.0,30.0,15.967,30.0,30.0,16.667,...,14.833,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
17,131387359,Nursing,0.0,9.0,33.0,33.0,17.000,42.0,33.0,15.909,...,15.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
18,111354356,Nursing,24.0,30.0,30.0,30.0,16.000,30.0,30.0,18.000,...,17.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0
19,131394554,Biology,22.0,30.0,35.0,25.0,11.400,33.0,33.0,13.273,...,13.529,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0

In [ ]:
del datest['Program']
del datest['Id']
#Remover as colunas que nao achamos relevantes.
test = datest.values
#Preparar o data para ser utilizado no predict

predicted = model.predict(test)
#no predicted encontra-se os resultos previsto com base no modelo utilizado

In [ ]:
dfid= datest['Id'] #dataframe apenas com a coluna "Id"
dffail= pd.DataFrame({'Failure': predicted}) #um novo dataframe que tem os valores de "Failure
frames = (dfid, dffail) #os dois dataframes
datasubm = pd.concat(frames, axis=1) # com o concat() juntamos os 2 dataframes num só
datasubm.to_csv(r'SubmissionLogi.csv', index = False) #o Dataframe criado com as colunas "Id" e "Failure"

### Exemplo do csv com o dataframe:

In [2]:
import pandas as pd
submission = pd.read_csv('SubmissionLogi.csv')
submission.head(20)

           Id  Failure
0   131394910        1
1   131391329        0
2   111345779        0
3   131382288        0
4   131379697        0
5   131398732        1
6   131388650        0
7   131387163        1
8   131385729        0
9   131383362        1
10  131382373        0
11  131388818        0
12  131386928        0
13  131397149        0
14  131391208        0
15  111364511        0
16  131384400        0
17  131387359        0
18  111354356        0
19  131394554        0

## Conclusões sobre os modelos

Todos os algoritmos utilizados neste trabalho para criação dos modelos utilizaram os mesmo atributos e parâmetros na criação dos mesmo.
O algoritmo que teve melhores resultados, com base no kaggle, foi o Algoritmo Logistic Regression. Este obteve resultados elevados e sem uma grande descrepância entre o private score e o public score.
Na segunda experiência realizada com estes algoritmos, foi retirado os atributos relacionados com Y4s1. Os resultados obtidos, com base no kaggle, foram menos corretos do que quando foram utilizados todos os atributos. Apenas o Algoritmo Ridge manteve os mesmo resultados de quando se utilizou também todos os atributos.

Com base nos resultados obtidos pudemos concluir que com uma maior quantidade de dados foi possivel prever mais corretamente os resultados desejados para o conjunto de teste proposto.